div.container
  div.col-sm-8.col-sm-offset-2
    markdown:
      ## FAQs

      If your question isn't answered below, please #{link_to 'contact us', page_path('contact')}.

      #### How will I get paid?

      If you show up on time, you will receive your on-time bonus (a.k.a. show
      up fee). In addition to that, you will be paid an amount that depends on
      the decisions you and others make during an experiment. You will be paid
      privately in cash at the end of the experiment.

      #### How long does an experiment usually last?

      A typical experiment lasts between 30 minutes to 3 hours, depending on the
      purpose of the study. We inform you how long the experiment lasts in each
      of our invitation emails.

      #### I'm now registered. Now what?

      Thank you for registering! You don't need to do anything else for now. When
      researchers begin new experiments, you will start to receive invitation
      emails.

      #### I'm not receiving any invitations. Why?

      Typically, not everyone in the database gets an invitation to every
      experiment. However, if you have already participated in an experiment,
      you will not be eligible for a different session of the same experiment.
      Please wait until new experiments are created.

      If you are not receiving any invitations at all, our invitations could be
      being sent to your spam folder or you may have entered the wrong email
      address. Go to experiments.weber.edu. Try logging in and double check that
      the email address you registered with is correct.

      #### How can I "unconfirm" an experiment?

      Unfortunately, there is no feature which allows you to "unconfirm" once you
      have RSVP'd for an experiment. However, we understand that emergencies and
      other matters do arise unexpectedly. Please inform the researcher who
      invited you to the experiment as soon as you can.

      #### I am no longer interested in participating in experiments. What can I do?

      Please go to experiments.weber.edu. Log in to your account and follow the
      instruction there to unsubscribe. Otherwise, please email your name and ID
      number to rongrong at weber dot edu with the subject title, "UNSUBSCRIBE."

      #### I have some questions/concerns I want addressed. Who should I contact?

      If your question or concern is specific to an experiment, contact the
      experimenter who sent you the invitation. If it is about experiments and
      policy in general, contact Dr. Rong Rong at rongrong@weber.edu. Please
      take the time to read the FAQs section before you email her, as your
      question may already be answered.
