div.container
  div.col-sm-8.col-sm-offset-2
    markdown:
      ## Privacy Policy

      You are entering the "Experiment Recruitment System" of Goddard School of
      Business and Economics at Weber State University. All information provided
      by you is strictly voluntary. The following rules apply to all information
      provided by you to this site:

      At no time will an administrator of the site release personal information
      to anyone other than the researcher conducting the session for which you
      are enrolled.

      At no time will the researcher of a session attach personal identification
      information provided to this site (including ID number, name, address,
      Phone number, etc.) to the decisions made in a session. *All decisions are
      anonymous*.

      At no time will an administrator of this site use the information provided
      for any purposes other than scheduling experiments. *All information
      provided is strictly confidential*.

      If you have any questions or comments regarding your personal information
      you may contact:

      | Rong Rong                                |
      | Assistant Professor of Economics         |
      | Goddard School of Business and Economics |
      | Weber State University                   |
      | rongrong@weber.edu                       |

