div.container
  div.col-sm-8.col-sm-offset-2
    markdown:
      ## Rules
      By registering for laboratory experiments, you indicate your intention of
      participating in experiments under the rules outlined below.

      - **RSVP to Invitations:** If you receive an invitation email and you wish
        to participate, you must RSVP (i.e. confirm) in order to be eligible to
        take part in the experiment. Those who decide to confirm must keep in
        mind that if they do not show up or arrive late, the experiment might be
        canceled and causes inconvenience to the researcher and the other
        participants.
      - **Show Up on Time:** Confirmation is a commitment to show up at least 10
        minutes prior to the scheduled starting time. If you confirm and later
        cannot attend, you must contact the experimenter as soon as you know you
        will be unable to attend (**at least 24 hours before** the session) to
        be removed from the session registration; otherwise, a mark of absence
        will be added to your account. Repeated absences may result in loss of
        priority to receive invitation emails.
      - **Priority to Participate:** Priority to participate in an experiment
        will be given to those who have confirmed the invitation and have shown
        up on time. Those who do not confirm or show up late will not be
        guaranteed the right to participate or receive the on-time bonus.
      - **Bring Your Photo ID:** You must bring your WildCat ID or Driver’s
        license (in case of non-students) in order to participate in
        experiments. For certain studies, anyone without a valid photo ID may be
        denied participation and on-time bonus (i.e. show-up fee).
      - **Follow Experimenters’ Instruction in Lab:** During an experiment, each
        participant will have to act upon the rules stated by the researcher. By
        the discretion of the researcher in charge, violators may be asked to
        leave the experiment without payment.
      - **Payment**:  Participation will be compensated in cash. The exact
        amount depends on the decisions of all participants during the
        experiment as explained in the instructions at the beginning of the
        experiment. To receive payment in an experiment, participants are
        required to sign a receipt.
      - **Experiment Cancellation**: an experiment may have to be canceled if
        not enough people sign up for the session. Although it is a rare
        situation, researchers may cancel an experiment 48 hours before its
        scheduled start time. In case of cancellation, participants who have
        already confirmed to participate will be informed via email. If you
        receive a cancellation email, you do not need to come to the experiment
        and would not be eligible of receiving show-up bonus.
      - **Unsubscribe:** You may choose to no longer receive invitations for
        experiments at anytime by unsubscribing. To do so, go to
        experiments.weber.edu first. Log in to your private profile page and
        follow the instructions from there.
