/* variables */

$navbar-inverse-bg: #432965;
$footer-height: 35px;
$navbar-inverse-color: #eeeeee;

/* globals */

html {
  overflow: auto;
}

textarea {
  resize: vertical;
}


/* navbar */

.logo {
  margin-top: 15px;
}

.navbar-inverse {
  background-color: $navbar-inverse-bg;
  background-image: none;
  background-repeat: none;
}

.navbar-inverse .navbar-brand {
  color: $navbar-inverse-color;
}

.navbar-inverse .navbar-nav > li > a {
  color: $navbar-inverse-color;
}


/* sticky footer */

html,
body {
  height:100%;
}

.wrapper {
  padding-top: 123px;
  padding-bottom: 20px; /* pushes up the last line of before footer */
  min-height:100%;
  position:relative;
}

.content {
  padding-bottom: $footer-height;
}

.footer {
  background-color: $navbar-inverse-bg;
  color: $navbar-inverse-color;
  width: 100%;
  height: $footer-height;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 5px;
}
